/* header.css */

.header {
    background-color: black; /* Green background */
    padding: 10px; /* Some padding */
    text-align: center; /* Centered text */
    color: white; /* White text color */
    font-size: 15px; /* Font size */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header h1 {
    margin: 0; /* Remove default margin */
    cursor: pointer;
    font-family: "Open Sans Condensed", sans-serif;
}

.header nav a {
    color: white; /* White text for links */
    padding: 7px 20px; /* Padding for links */
    text-decoration: none; /* Remove underline */
    border-radius: 10px;
    transition: 200ms;
    font-family: "Open Sans Condensed", sans-serif;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none; /* Remove bullets from list items */
}
.header nav a:hover {
    background-color: rgb(227, 95, 18); /* Darker green on hover */
}
.video-container{
    position: relative;
    width: 100%;
    height: 88vh;
}